*{
    margin:0;
    padding:0;
    outline:none;
}

body{
    background:rgb(239,239,239)
}

.images{
    display: flex;
    transition: all 0.3s;

}
.container{
    margin: 0 auto;
    position: relative;
}
.windowView{
    height:100%;
    width:100%;
    margin:0 auto;
    overflow: hidden;
    position: absolute;
} 

.windowView > .images > img {
    height:100%;
    width:100%;
}

.buttons{
    height:30px;
    width:80px;
    display: block;
    margin: 10px auto;
    text-align: center;
    position: absolute;
}

#previous{
    background:white;
    height:10.8%;
    width:8%;
    border-radius:50%;
    border:none;
    position: absolute;
    bottom: 50%;
    left:-15%;

}

#previous::before{
    content:"";
    display: block;
    position: absolute;
    border-top:2px solid rgb(0,125,255);
    width:44.7%;
    transform: rotate(-45deg);
    right:32%;
    top:35%;
}

#previous::after{
    content:"";
    display: block;
    position: absolute;
    border-top:2px solid rgb(0,125,255);
    width:44.7%;
    transform: rotate(45deg);
    right:32%;
    top:65%;
}

#next{
    background:white;
    height:10.8%;
    width:8%;
    border-radius:50%;
    border:none;
    position: absolute;
    bottom: 50%;
    right:-15%;
}

#next::before{
    content:"";
    display: block;
    position: absolute;
    border-top:2px solid rgb(0,125,255);
    width:44.7%;
    transform: rotate(45deg);
    left:32%;
    top:35%;
}

#next::after{
    content:"";
    display: block;
    position: absolute;
    border-top:2px solid rgb(0,125,255);
    width:44.7%;
    transform: rotate(-45deg);
    left:32%;
    top:65%;
}